/* COMMON */
body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}

img {
    display: block;
}

a {
    text-decoration: none;
    /*공통적으로 a태그에 밑줄효과를 없애줌*/
}

.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.btn {
    display: block;
    /*혹시나 a태그나 span태그에 btn을 부여했을때에도 
                      정상적으로 적용되게 하기위해 display 속성 지정.*/
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: .4s;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

/*일치선택자 사용! 버튼요소 상태*/
.btn.btn--reverse {
    /*기존버튼에서 반전요소가 있는 버튼*/
    background-color: #333;
    color: #fff;
}

.btn.btn--reverse:hover {
    background-color: transparent;
    /*투명함을 의미하는 색상*/
    color: #333;
}

/* 다양한 색상의 버튼 추가 (브라운,골드,화이트) */
.btn.btn--brown {
    color: #592B18;
    border-color: #592B18;

}

.btn.btn--brown:hover {
    color: #fff;
    background-color: #592B18;
}

.btn.btn--gold {
    color: #d9aa8a;
    border-color: #d9aa8a;
}

.btn.btn--gold:hover {
    color: #fff;
    background-color: #d9aa8a;
}

.btn.btn--white {
    color: #fff;
    border-color: #fff;
}

.btn.btn--white:hover {
    color: #333;
    background-color: #fff;
}
.back-to-position {
    opacity: 0;
    transition: 1s;
}
/* 왼쪽->오른쪽으로 나타나는 애니메이션 */
.back-to-position.to-right {
    transform: translateX(-150px);
}
.back-to-position.to-left { /*오른쪽으로 이동한 상태*/
    transform: translateX(150px);
}
.show .back-to-position {
    opacity: 1;
    transform: translateX(0);
}
.show .back-to-position.delay-0 { /*0.3초 간격으로 전환효과 딜레이처리*/
    transition-delay: 0s;
}
.show .back-to-position.delay-1 {
    transition-delay: .3s;
}
.show .back-to-position.delay-2 {
    transition-delay: .6s;
}
.show .back-to-position.delay-3 {
    transition-delay: .9s;
}


/* HEADER */
header {
    width: 100%;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    position: fixed;
    top: 0;
    z-index: 9;
    /*배지부분이 가려지기때문에 쌓임순서 지정함*/
}

header>.inner {
    /*헤더의 자식요소인 inner부분만 영향을 받도록! */
    height: 120px;
}

header .logo {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

header .sub-menu {
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;

}

header .sub-menu ul.menu {
    display: flex;
    font-family: Arial, sans-serif;
}

header .sub-menu ul.menu li {
    position: relative;
}

header .sub-menu ul.menu li::before {
    /*가상요소선택자: 내부앞쪽에 어떠한 내용추가 */
    content: "";
    /*display: block; <- before는 인라인요소이므로 display값을 block으로 변경해주었는데 
    position값으로 인해 자동으로 들어가 생략하였다. */
    width: 1px;
    height: 12px;
    background: #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

/* sign in의 왼쪽 가로선을 없애주기 위한 가상클래스선택자 추가 */
header .sub-menu ul.menu li:first-child::before {
    display: none;
}

header .sub-menu ul.menu li a {
    display: block;
    padding: 11px 16px;
    color: #656565;
    font-size: 12px;
}

header .sub-menu ul.menu li a:hover {
    color: #000;

}

/* 서브메뉴 - 검색부분 */
header .sub-menu .search {
    position: relative;
    height: 34px;
}

header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    /*input창 내 파란선 보이고싶지 않을때 outline 속성 사용. */
    background-color: #fff;
    color: #777;
    /* input창의 자연스러운 전환효과를 위해 transition 속성 추가 */
    font-size: 12px;
    transition: width .4s;
    /*전환될 속성명과 시간추가*/
}

header .sub-menu .search input:focus {
    width: 190px;
    border-color: #669900;
}

header .sub-menu .search .material-icons {
    height: 24px;
    /*아이콘의 폰트크기가 24px이기때문에*/
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    /*수직 가운데 배치를 위한 바깥여백 속성 auto 추가.*/
    transition: .3s;
}

header .sub-menu .search.focused .material-icons {
    opacity: 0;
    /*포커스했을때 돋보기아이콘이 사라지게 하기위해 투명도 설정.*/
}


/* MAIN MENU */
header .main-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
}

header .main-menu .item {}

header .main-menu .item .item__name {
    padding: 10px 20px 34px 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

header .main-menu .item:hover .item__name {
    background: #2c2a29;
    color: #669900;
    border-radius: 6px 6px 0 0;
    /*좌상단,우상단, 좌하단,우하단 */
}

header .main-menu .item .item__contents {
    width: 100%;
    position: fixed;
    /*뷰포트를 기준으로 늘어나게 함.(메뉴1,2영역) */
    left: 0;
    display: none;
}

header .main-menu .item:hover .item__contents {
    display: block;
}

/***** 하위메뉴 영역1 *****/
header .main-menu .item .item__contents .contents__menu {
    background: #2c2a29;
}

/* 자식선택자 사용해서 컨텐츠메뉴 다음 ul태그만 해당되도록! */
header .main-menu .item .item__contents .contents__menu>ul {
    display: flex;
    padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu>ul>li {
    width: 220px;
}

header .main-menu .item .item__contents .contents__menu>ul>li h4 {
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li {
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li:hover {
    color: #669900;
}

/***** 하위메뉴 영역2 *****/
header .main-menu .item .item__contents .contents__texture {
    padding: 26px 0;
    font-size: 12px;
    background-image: url("../images/main_menu_pattern.jpg");
}

header .main-menu .item .item__contents .contents__texture h4 {
    color: #999;
    font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
    color: #669900;
    margin: 4px 0 14px;
}

/***** 사이드 배지 영역 *****/
header .sidebadges {
    position: absolute;
    top: 132px;
    right: 12px;
}

header .sidebadges .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
    cursor: pointer;
}


/* FOOTER */
footer {
    background-color: #272727;
    border-top: 1px solid #333;
}
footer .inner {
    padding: 40px 0 60px 0;
}
footer .menu {
    display: flex;
    justify-content: center;
}
footer .menu li {
    position: relative;
}
footer .menu li::before { /* before 가상요소선택자는 인라인요소이다.*/
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    position: absolute; /* absolute나 fixed를 사용하면 자동으로 display값은 block으로 바뀐다! */
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
}
footer .menu li:last-child::before {
    display: none;
}
footer .menu li a {
    display: block;
    color: #ccc;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;

}
footer .menu li a.green {
    color: #669900;
}
footer .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
footer .btn-group .btn {
    font-size: 12px;
    margin-right: 10px;

}
footer .btn-group .btn:last-child {
    margin-right: 0;
}
footer .info {
    margin-top: 30px;
    text-align: center;
}
footer .info span {
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}
footer .info span:last-child {
    margin-right: 0;
}

footer .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}
footer .logo {
    /*img 요소이기때문에 width 속성이 없이도 가운데 정렬이 가능하다.
     (이미지 자체 가로값을 가지고 계산해주기때문..div나 다른 요소였다면 width 값이 들어가야함.) */
   margin: 30px auto 0;  
}